:root {
    --primary-color: #ffff;
    --secondary-color: #aaa;
    --accent1-color: #F39237;
    --accent2-color:#000;
    --heading-font: 'Open+Sans', intel;
    --body-font: 'roboto', intel;
}
header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    background-color:dimgray;
    font-size: larger;
    max-width: 1000px;


}
nav {
    display: flex;
    list-style: none;
    font-family: var(--heading-font);
    justify-content: space-around;
    
}

nav a {
    padding: 1em;
    color: white;
    font-family: var(--heading-font);
    width: 100%;

}
nav a:hover {
    background-color: white;
    color:dimgray;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent2-color);
    width: 90%;
    max-width: 960px;
    margin: 10px auto;
}
a {
    text-decoration: none ;
}

 main, header, footer {
    max-width: 950px;
    margin: 0 auto;
}
header img {
    width: 130px;
    
}
h1, h2 {
    font-family: var(--headng-font);
    color: var(--accent2-color);
}
nav, p, section, article {
    padding: 8px;
    margin: 16px;
}

.Social a {
    text-decoration: none;


}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0.25rem 0 1rem;

}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 16px;
    margin: 1rem;
    font-size: 2em;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}
.hero article {
    position: absolute;
    bottom: 70px;
    padding: 17px;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    margin: 1rem;
}


.hero article img {
    float: right;
    margin: auto;
    width: 125px;
    
} 
footer {
    background-color:dimgray;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 1em;
}        
.Social {
    grid-column: 3;
    justify-self:end ;
}
.Social img {
    width: 3em;

}

.History {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;
    margin: 50px 0;
    
} 
.History h2, 
.Adventure h2 {   
    grid-column: 1/-1; 
    justify-self: center;
    padding: 1em 0;
}
.contactus h1 {
    grid-column: 1;
    justify-self: center;
    grid-column: 1/-1;
}
.contactform {
    grid-column: 2/6;
    grid-row: 2/4;
}
.address {
    grid-column: 7/12;
    grid-row: 2/4;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.address a {
    color: navy;
}
.address a:hover {
    text-decoration: underline;
    color: antiquewhite;
}
.address h2 {
    color: white;

    
}
.gmap {
    max-width: 250px;
    width: 100%;
    height: auto;
    max-height: 250px;
}
.hrule {
    grid-column: 1/-1;
    border: solid 2px;
}
.employees h2 {
    color: black;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
}
.employees {
    grid-column: 1/-1;
    display:flex;

}
.employee {
    margin: 0;
    grid-gap: 0em;
}
.employee:nth-last-of-type(1) {
    grid-column: 2/4;
}
.employee:nth-last-of-type(2) {
    grid-column: 6/8;
}
.employee:nth-last-of-type(3) {
    grid-column: 2/4;
}
.employees h2 {
    display: grid;
}
.Adventure {
    margin: 1px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
}
.History img {
    display: grid;
    grid-column: 2;
    max-width: 15rem;
}
figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 3px;
  max-width: 150px;
  margin: auto;
}