:root {
    --primary-color: #ffff;
    --secondary-color: rgb(87, 170, 23);
    --accent1-color: #F39237;
    --accent2-color:#000;
    --heading-font: 'Open+Sans', intel;
    --body-font: 'roboto', intel;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);

}
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
 main, header, footer {
    width: 850px;
    margin: auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
div, p, section, article {
    margin: 1rem;
    padding: 1px;
    
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: auto;
    height: auto;
}

h1 {
    position: absolute;
    bottom: 535px;
    width: 53rem;
    padding: 68px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color)
}

.hero article img {
    float: right;
    margin: 2rem;
    width: 245px;
    position: absolute;
    bottom: 500px;
    left: 580px;
}   
footer img {
    width: 54px;
}